# Soma Build Pipeline
# Builds and tests on Windows and Linux
# Enforces code style using rustfmt

# Pipeline triggers on all code changes and PRs by default.

resources:
  containers:
  - container: rust
    image: rust:latest

jobs:
- job: quality_check
  displayName: Code Quality Check
  pool:
    vmImage: 'ubuntu-16.04'
  container: rust
  steps:
  - script: rustup component add clippy rustfmt
    displayName: 'Install Prerequisites'
  - script: cargo fmt --all -- --check
    displayName: 'Check Formatting'
  - script: cargo clippy --all-targets --all-features -- -D warnings
    displayName: 'Run Lint'

- job: linux_build
  displayName: Linux Build
  pool:
    vmImage: 'ubuntu-16.04'
  steps:
  - template: ci/install-prerequisites.yml
    parameters:
      os: Linux
  - template: ci/build.yml
    parameters:
      os: Linux

- job: windows_build
  displayName: Windows Build
  pool:
    vmImage: 'windows-2019'
  steps:
  - template: ci/install-prerequisites.yml
    parameters:
      os: Windows
  - template: ci/build.yml
    parameters:
      os: Windows
